.Landing {
  display: flex;
  justify-content: center;
  flex: 1;
  color: white;
}

.Landing__contenedor {
  max-width: 1024px;
  flex: 1;
}

.Landing__header {
  display: flex;
  justify-content: space-between;
}

.Landing__logo {
  padding: 1em;
  font-weight: bold;
}

.Landing__links {
  display: flex;
  padding: 1em;
}

.Landing__link {
  font-size: .8em;
  margin-left: 2.5em;
  font-weight: 500;
}